@charset "utf-8";
/* CSS Document */

@media screen and (min-width:330px){
	.grxx .gr-a .a1 a p span{
      position: absolute;
	   top:6%;
	  right:-1%;
  }
  .grxx .gr-a .a2 a p span{
      position: absolute;
	  top:6%;
	  right:20%;
  }
}
@media screen and (min-width:414px) and (max-width:769px){
	.grxx .gr-a .a1 a p span{
      position: absolute;
	   top:6%;
	  right:3%;
  }
  .grxx .gr-a .a2 a p span{
      position: absolute;
	  top:6%;
	  right:23%;
  }
}
@media screen and (min-width:768px) {
	.grxx .gr-a .a1 a p span{
      position: absolute;
	   top:7%;
	  right:24%;
  }
  .grxx .gr-a .a2 a p span{
      position: absolute;
	  top:6%;
	  right:40%;
  }
}
@media screen and (min-width:1024px) {
	.grxx .gr-a .a1 a p span{
      position: absolute;
	   top:7%;
	  right:30%;
  }
  .grxx .gr-a .a2 a p span{
      position: absolute;
	  top:6%;
	  right:44%;
  }
}