@charset "utf-8";
/* CSS Document */
@media (min-width: 768px) {
	.bg5txtbox{
	width:80%;
	height:70%;
	position:relative;
	margin:0 auto;
	padding-top: 50px;
	padding-bottom: 50px;
	
	
}
.bg5txt1{
	width:617px;
	height:647px;
	background:url(../img/bg5-txt1.png) no-repeat;
	position:absolute;
	left:0;
	top:0;
	z-index:30;
	display:none;
	margin: 0 auto;
}
.bg5txt2{
	width:508px;
	height:533px;
	background:url(../img/bg5-txt2.png) no-repeat;
	position:absolute;
	right:0;
	bottom:0;
	z-index:29;
	display:none;
	margin: 0 auto;
}
}

