<!doctype html>
<html lang="en" style="overflow-x: hidden;">
<head>
    <meta charset="UTF-8">
    <title>债务信息登记</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <link rel="shortcut icon" href="/favicon.ico">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" type="text/css" href="../../css/light/dist/css/light7.css">
    <link rel="stylesheet" type="text/css" href="../../css/wangui//font/iconfont.css">
    <link rel="stylesheet" type="text/css" href="../../css/light/dist/css/light7-swiper.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="../../css/wangui/hui.css"> -->
    <script type="text/javascript" src="../../css/wangui/hui.js"></script>
    <script type="text/javascript" src="../../css/wangui/hui-form.js"></script>
    <script type="text/javascript" src="../../css/light/dist/js/jquery.min.js"></script>
    <!-- <script type="text/javascript"  src="../../css/light/dist/js/zt.js"></script> -->
    <script type="text/javascript" src="../../css/light/dist/js/light7.js"></script>
    <script type="text/javascript" src="../../css/light/dist/js/light7-swiper.min.js"></script>
     <script type="text/javascript" src="../../css/light/dist/js/light7-city-picker.min.js"></script>


      
    <style>
   
    #coverthingparent{
      display: none;
    }
    .list-block {
      margin: 1.0rem 0;
     
    }
     .iconfont {
        width: 1.45rem;
        height: 1.45rem;
        /*background-image: url("../img/i-form-tel.png");*/
    }

  /* #danbao{
      display: none;
    }*/
    </style>
  
  
</head>
<body>


<div class="page-group">
   
    <div class="page">
    
      <header class="bar bar-nav">
       <!--  <button class="button button-link button-nav pull-left back">
          <a href="javascript:window.history.back(-1)"><span class="icon icon-left"></span>
          返回</a>
        </button> -->
         <a class="button button-link button-nav pull-left back" href="member.html">
      <span class="icon icon-left"></span>
      返回
    </a>
        <button id="next" class="button button-link button-nav pull-right">
          下一步
          <span class="icon icon-right"></span>
        </button>
        <h1 class="title">债权方信息登记</h1>
      </header>
   
      <div class="content">
      <form action="" id="signupForm" method="post">
      <div class="list-block">
        <script type="text/html" id='zq'>
          <ul>
          
            <li>
              <div class="item-content">
                <div class="item-media"><i class="icon icon-form-total"></i><!-- <i class="icon icon-form-name"></i> --></div>
                <div class="item-inner">
                  <div class="item-title label">债权金额</div>
                  <div class="item-input">
                    <input name="total" type="text" value="<%= total %>" checkType="int" checkData="2,12"  checkMsg="请输入2-12位的整数金额" placeholder="请输入债权金额">
                  </div>
                </div>
              </div>
            </li>
            <li>
            <div class="item-content">
                    <div class="item-media"><i class="icon icon-form-calendar"></i></div>
                    <div class="item-inner">
                      <div class="item-title label">借款时间</div>
                      <div class="item-input">
                        <input type="text"  id="createtime" name='createtime'  value="<%=createtime %>"  checkType="string" checkData="16"  checkMsg="请选择正确的借款时间" placeholder="请选择正确的借款时间" value="2015-12-12 08:30">
                      </div>
                    </div>
                  </div>
             
            </li>
            <li>
             <div class="item-content">
                     <div class="item-media"><i class="icon icon-form-calendar"></i></div>
                     <div class="item-inner">
                       <div class="item-title label">还款时间</div>
                       <div class="item-input">
                         <input type="text"  id="returntime" name='returntime' value="<%=returntime %>" checkType="string" checkData="16"  checkMsg="请选择正确的还款时间"    placeholder="请输入正确的还款时间" value="2017-12-30 08:30">
                       </div>
                     </div>
                   </div>
            </li>
            <li>
                <div class="item-content">
                  <div class="item-media"><i class="icon icon-form-cover"></i></div>
                  <div class="item-inner">
                    <div class="item-title label">有无抵押物</div>
                    <div class="item-input">
                      <label class="label-switch">
                        <input type="checkbox" name="iscover"  id="iscover"  <% if(iscover=='on'){ %>checked<% }%> >
                        <div class="checkbox"></div>
                      </label>
                    </div>
                  </div>
                </div>
            </li>
         <li id='coverthingparent'>
           <div class="item-content">
             <div class="item-media"><i class="icon icon-form-cover"></i></div>
             <div class="item-inner">
               <div class="item-title label">抵押物品</div>
               <div class="item-input">
                 <input type="text" id='coverthing' value="<%=coverthing %>"    checkType="strings" checkData="2,30"  checkMsg="请输入抵押物品,如果没有请取消"  name="coverthing" placeholder="请备注抵押物品名称" class="">
               </div>
             </div>
           </div>
         </li>
            <li>
                <div class="item-content">
                  <div class="item-media"><i class="icon icon-form-law"></i></div>
                  <div class="item-inner">
                    <div class="item-title label">是否诉讼</div>
                    <div class="item-input">
                      <label class="label-switch">
                        <input type="checkbox" name="islaw"  <% if(islaw=='on'){ %>checked<% }%>>
                        <div class="checkbox"></div>
                      </label>
                    </div>
                  </div>
                </div>
            </li>

            <li>
              <div class="item-content">
                <div class="item-media"><i class="icon icon-form-name"></i></div>
                <div class="item-inner">
                  <div class="item-title label">姓名</div>
                  <div class="item-input">
                    <input type="text" checkType="reg" value="<%= name %>" checkData="^([\u4e00-\u9fa5]){2,7}$"  checkMsg="请输入正确的债权方姓名"  name="name" placeholder="请输入债权方姓名" class="">
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-media"><i class="icon icon-form-tel"></i></div>
                <div class="item-inner">
                  <div class="item-title label">手机号</div>
                  <div class="item-input">
                    <input type="text" checkType="reg" value="<%= mobile %>"  checkData="^1(3|4|5|7|8)\d{9}$" checkMsg="请输入正确的手机号"  name="mobile" placeholder="请输入债权方手机号" class="">
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-media"><i class="icon icon-form-settings"></i></div>
                <div class="item-inner">
                  <div class="item-title label">证件号</div>
                  <div class="item-input">
                    <input type="text" checkType="reg"  value="<%= numcard %>" checkData="^\d{17}(\d|x)$"  checkMsg="请输入正确的证件号码"   name="numcard" placeholder="请输入债权方证件号" class="">
                  </div>
                </div>
              </div>
            </li>
           
      </script>
            <div id="showzq" ></div> 
      </ul>
     
  
     </div>

      </form>
     
     </div>
    
  </div>


  </div>
  <!-- </script> -->
 
  <script type="text/javascript" src="../../js/common.js"></script>
  <script type="text/javascript" src="../../js/tmpl/member_zqwap.js"></script>
    <script type="text/javascript" src="../../js/template.js"></script>
  <script type="text/javascript">
  $(function(){
   // var  infostring=JSON.stringify($("#validation").serializeObject());

   var zqobj=JSON.parse(localStorage.getItem("zq"));
   if(!zqobj)
   zqobj={"name":""}
    console.log(zqobj);
     var html = template.render('zq', zqobj);
     $("#showzq").html(html);
     if(zqobj.iscover=='on')
     $('#coverthingparent').show();
   // }
  
   $("#returntime").datetimePicker({
     toolbarTemplate: '<header class="bar bar-nav">\
     <button class="button button-link pull-right close-picker">确定</button>\
     <h1 class="title">请选择正确的还款时间</h1>\
     </header>'
   });
   $("#createtime").datetimePicker({
     toolbarTemplate: '<header class="bar bar-nav">\
     <button class="button button-link pull-right close-picker">确定</button>\
     <h1 class="title">请选择正确的借款时间</h1>\
     </header>'
   });
   $('#iscover').change(function(){
     $("#coverthingparent").toggle();
     var thiss=$("#coverthing");
       if(thiss.attr('checkType')=='strings'){
       thiss.attr('checkType','string');
      }else{
       thiss.attr('checkType','strings');
      }
      })

     hui.formInit();
     hui('#next').click(function(){
       var res = huiFormCheck('#signupForm');
         if(res){
           var zq=JSON.stringify($("#signupForm").serializeObject());
           localStorage.setItem('zq',zq)
         location.href='member_zqone.html';
         }
       });
  })





     </script>


 

  </body>
  </html>

 

