@charset "utf-8";
/* CSS Document */
@media screen and (max-device-width:320px)
{
.page3 h1{
	font-size: 20px;
	color:#ffc36e;
	padding-top:10%;
}
.page3 h2{
	font-size: 16px;
	color:#ffc36e;
	line-height: 34px;
	padding-bottom: 5%;
}
.box3 img{width:50%; 
	height:50%;
}
.page4 h1{
	font-size: 24px;
	color:#ffc36e;
	padding-top: 10%;
}
.page4 h2{
	font-size: 16px;
	color:#ffc36e;
	line-height: 26px;
	padding-top:10%;
	padding-bottom: 10%;
}
	
}
